<div style="text-align:center">
<% @projects.each do |project|%>
<div style="text-align:center">
<div class="card", style="max-width: 25rem;">
  <h4 class="card-title"><%=link_to project.project_name, project_url(project.id)%></h4>
  <p>顧客名:<%= project.customer_name %>　納入先:<%= project.delivery_destination %></p>
</div>
</div>
<%end%>
</div>
<br>
<%= link_to "プロジェクト作成", {controller: :projects, action: :new}%>

