/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */



 

 .global-nav{
    text-align: center;
    background-color: #C0C0C0;
    width: 100%;
    height: 80px;
    line-height:60px;
    padding:1px;   
}
.global-nav .nav-item{
    display: inline-block;
    margin: 0 100px;
}
.global-nav .nav-item a{
    display: inline-block;
    width: 200px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    border-radius: 8px;
    color: #000;
    font-size: 1.3rem;
    letter-spacing: 1px;
    text-decoration:none;
}
.global-nav .nav-item:hover{
  opacity: 0.3;
}



body{
    margin:0;
    padding: 0px;
}

.image{
    float: left;
    position:absolute;
	left:10px;
	top:10px;
}

.logout{
    display: inline-block;
    position:absolute;
    right:10px;
    margin: 0 10px;
}

.btn-back {
    display: inline-block;
    text-decoration: none;
    color: rgba(152, 152, 152, 0.43);/*アイコン色*/
    width: 60px;
    height: 60px;
    line-height: 60px;
    font-size: 40px;
    border-radius: 50%;
    text-align: center;
    overflow: hidden;
    font-weight: bold;
    background-image: linear-gradient(#e8e8e8 0%, #d6d6d6 100%);
    text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.66);
    box-shadow: inset 0 2px 0 rgba(255,255,255,0.5), 0 2px 2px rgba(0, 0, 0, 0.19);
    border-bottom: solid 2px #b5b5b5;
  }
  .btn-back i {
    line-height: 80px;
  }
  .btn-back:active {
    /*押したとき*/
    box-shadow: inset 0 1px 0 rgba(255,255,255,0.5), 0 2px 2px rgba(0, 0, 0, 0.19);
    border-bottom: none;
  }

.midashi{
    text-align: center;
    position:  relative;
	top: -50px;
}
.add-btn {
    position:  absolute;
    top: 100px;
    right: 50px;
	display: block;
	text-align: center;
	text-decoration: none;
	color: #52c2d0;
	width: 120px;
	height: 120px;
	line-height: 120px;
	border: double 4px #52c2d0;
	border-radius: 50%;
	overflow: hidden;
	transition: .6s;
}
.add-btn:hover {
	transform: rotateY(360deg);
}

.submit-button {
    display       : inline-block;
    border-radius : 50%;          /* 角丸       */
    font-size     : 18pt;        /* 文字サイズ */
    text-align    : center;      /* 文字位置   */
    cursor        : pointer;     /* カーソル   */
    padding       : 12px 12px;   /* 余白       */
    background    : #6666ff;     /* 背景色     */
    color         : #ffffff;     /* 文字色     */
    line-height   : 1em;         /* 1行の高さ  */
    transition    : .3s;         /* なめらか変化 */
    box-shadow    : 6px 6px 7px #666666;  /* 影の設定 */
    border        : 2px solid #6666ff;    /* 枠の指定 */
  }
  .submit-button:hover {
    box-shadow    : none;        /* カーソル時の影消去 */
    color         : #6666ff;     /* 背景色     */
    background    : #ffffff;     /* 文字色     */
  }

  .btn-delete {
    position:  absolute;
    top: 100px;
    right: 50px;
	display: inline-block;
	width: 160px;
	padding: 0.8em;
	text-align: center;
	text-decoration: none;
	color: #fff;
	background:#F1322C;
	border-bottom:4px solid #AD2022;
	border-radius: 4px;
}
.btn-delete:hover {
	 cursor: pointer;
	 text-decoration: none;
	 background:#AD2022;
	 transform: translate3d(0, 4px, 0);
	 border-bottom: none;
}





.box-form {
    padding: 0.5em 1em;
    margin: 2em 0;
    width: 300px;
    font-weight: bold;
    border: solid 3px #000000;
}
.box-form p {
    margin: 0; 
    padding: 0;
}

.table-form, th {
  border:none;
}
.table-form, td {
  border:none;
}
