// Place all the styles related to the projects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.card{
    text-align: center;
    position:relative;
    margin: 2em auto;
    padding: 1em;
    width: 350px;
    height: 100;
    border: 5px solid #ccc; /* 枠線 */
    background-color: #fff; /* 背景色 */
    box-shadow: 1px 1px 2px #ccc;
}

.head{
    margin: 2em auto;
    padding: 0;
    width: 100%;
    border: 2px solid #ccc; /* 枠線 */

    position: relative;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    height: 50px;
}

.table-index {
    width: 90%;
    text-align: left;
    border-collapse: collapse;
}
.table-index, td, th {
    border-bottom: 1px solid black;
}

.right-shosai{
    text-align: right;
    position:relative;
    bottom: -10px;
}
.btn-flat-border {
    display: inline-block;
    padding: 0.3em 1em;
    text-decoration: none;
    color: #67c5ff;
    border: solid 2px #67c5ff;
    border-radius: 3px;
    transition: .4s;
  }
  
  .btn-flat-border:hover {
    background: #67c5ff;
    color: white;
}

.btn-circle-stitch {
    display: inline-block;
    text-decoration: none;
    background: #87befd;
    color: #FFF;
    width: 200px;
    height: 120px;
    line-height: 120px;
    border-radius: 50%;
    text-align: center;
    overflow: hidden;
    box-shadow: 0px 0px 0px 5px #87befd;
    border: dashed 1px #FFF;
    transition: .4s;
  }
  
  .btn-circle-stitch:hover {
    background: #668ad8;
    box-shadow: 0px 0px 0px 5px #668ad8;
  }

  .center{
    text-align: center;
  }

.flame{
    position: relative;
    right: -25px;
    margin: 2em auto;
    padding: 1em;
    width: 600px;
    height: 300px;
    color: #606060;
    border: 2px solid #000;
    background-color: #fff;
    box-shadow: -2px 5px 5px #ceb4a5;
    border-radius: 15px;
    }

.table-show {
        width: 90%;
        height: 70%;
        text-align: left;
        border-collapse: collapse;
    }
.table-show, td, th {
        border-bottom: 1px solid black;
        text-align: center;
}
.table-show, td{
    text-align: right;
}

.table-info{
    position: relative;
    top:50px;
    left:50px;
    width: 500px;
    height: 300px;
    border-collapse: collapse;
  }
  
  .table-info tr{
    border-bottom: solid 2px white;
  }
  
  .table-info tr:last-child{
    border-bottom: none;
  }
  
  .table-info th{
    position: relative;
    text-align: left;
    width: 30%;
    background-color: #52c2d0;
    color: white;
    text-align: center;
    padding: 10px 0;
  }
  
  .table-info th:after{
    display: block;
    content: "";
    width: 0px;
    height: 0px;
    position: absolute;
    top:calc(50% - 10px);
    right:-10px;
    border-left: 10px solid #52c2d0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
  }
  
  .table-info td{
    text-align: left;
    width: 70%;
    text-align: center;
    background-color: #eee;
    padding: 10px 0;
  }

.items {
    display: flex;
}
.items .item {
    width: 100%;
}

.btn-open {
    display: inline-block;
    width: 180px;
    height:50px;
    text-align: center;
    background-color: #52c2d0;
    font-size: 16px;
    line-height: 52px;
    color: #FFF;
    text-decoration: none;
    font-weight: bold;
    border: 2px solid #52c2d0;
    position: relative;
    overflow: hidden;
    z-index: 1;
  }
  .btn-open:after{
    width: 100%;
    height: 0;
    content:"";
    position: absolute;
    top: 50%;
    left: 50%;
    background : #FFF;
    opacity: 0;
    transform: translateX(-50%) translateY(-50%) rotate(45deg);
    transition: .2s;
    z-index: -1;
  }
  .btn-open:hover{
    color: #52c2d0;
  }
  .btn-open:hover:after{
    height: 240%;
    opacity: 1;
  }
  .btn-open:active:after{
    height: 340%;
    opacity: 1;
  }

  .button-items{
    display: flex;
    justify-content: space-between;
  }

  .gear{
      float: right;
      position: relative;
      top: -70px;
      right: 20px;
  }
  .gear:hover{
    transform: rotate(360deg);
    transition-duration: 0.5s;
  }
  @media screen and (max-width: 860px) {
    .items {
      display: flex;
      flex-direction: column;

    }
    .items .item {
      width: 100%;
    }
    .flame{
        position: relative;
        top: 100px;
        left: 50px;
        margin: 2em auto;
        padding: 1em;
        width: 500px;
        height: 300px;
        color: #606060;
        border: 2px solid #000;
        background-color: #fff;
        box-shadow: -2px 5px 5px #ceb4a5;
        border-radius: 15px;
    }
    .table-info{
        position: relative;
        top:50px;
        left:125px;
        width: 500px;
        height: 300px;
        border-collapse: collapse;
    }

    .button-items{
        position: relative;
        top: 50px;
        left:275px;
        display: flex;
        flex-direction: column;
        
      }
}

.project-items{
  display: flex;
  justify-content: space-between;
}
.project-items .project-item{
  width: 30%;
}
.project-items .project-item .project-item-right{
  position: absolute;
  right: 150px;
}
.project-items .project-item .project-item-left{
  position: absolute;
  left: 150px;
}


.kakomi-maru1 {
 margin: 2em auto;  
 padding: 1em;
 width: 90%; /*幅の調節*/
 color: #666666; /*文字色*/
 background-color: #f7f7f7; /*背景色*/
 border: 2px solid #ccc; /*線の太さ・色*/
 border-radius: 8px; /*角の丸み*/ 
}
.project-make {
    text-align: right;
    position: relative;
    top: 10px;
    right: 50px;;
}

a.cp_btn {
	position: relative;
	display: block;
	width: 160px;
	padding: 0.8em;
	text-align: center;
	text-decoration: none;
	color: #FFF;
	background: #67c5ff;
	border-bottom: 2px solid #00838F;
	border-radius: 4px;
	box-shadow: inset 0 2px 0 rgba(255,255,255,0.2), 0 2px 2px rgba(0, 0, 0, 0.19);
}
a.cp_btn:active {
	border-bottom: 2px solid #67c5ff;
	box-shadow: 0 0 2px rgba(0, 0, 0, 0.30);
}

.button-items {
  display: flex;
  justify-content: space-between;
}
.button-items .button-item {
      position: relative;

}