// Place all the styles related to the searches controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.flame-search{
    position: relative;
    right: -25px;
    margin: 2em auto;
    padding: 1em;
    width: 700px;
    height: 200px;
    color: #606060;
    border: 2px solid #000;
    background-color: #fff;
    box-shadow: -2px 5px 5px #ceb4a5;
    border-radius: 15px;
}
.flame-ans{
  position: relative;
  top: -275px;
  right: -25px;
  margin: 2em auto;
  padding: 1em;
  width: 700px;
  height: 250px;
  color: #606060;
  border: 2px solid #000;
  background-color: #fff;
  box-shadow: -2px 5px 5px #ceb4a5;
  border-radius: 15px;
}


.items-search {
    display: flex;
    justify-content: space-between;
  }
  .items-search .item-search {
    width: 100%;
  }
.box1 {
    position: relative;
    left: 25px;
    padding: 0.5em 1em;
    width: 180px;
    margin: 2em 0;
    font-weight: bold;
    border: solid 3px #000000;
}
.box1 p {
    margin: 0; 
    padding: 0;
}

.date{
  text-align: center;
  border:  solid 1px #000;
  width: auto;
}

